/*
    Applies our default application-wide styling on main layout
    components such as the body and anchor tags.
*/

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  transition: color 0.5s, background-color 0.5s;

  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);

  line-height: var(--body-line-height);
}

a {
  color: var(--link-color);
}

a:is(:hover, :focus) {
  color: var(--link-color-hover);
}
